@model PaginatedList<Person>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-default">
        <span class="glyphicon glyphicon-new-window"> Create</span>
    </a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <button type="submit" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-search"></span>
            </button> | 
            <a asp-action="Index" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-refresh"></span>
            </a> |             
            <a asp-action="ExportSearchResults" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-export"> CSV</span>
            </a>            
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr> 
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParm"]">FirstName</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParm"]">LastName</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PhoneSortParm"]">LastName</a>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{ 
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index" 
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled btn">
    <span class="glyphicon glyphicon-arrow-left"></span>
</a>
Page @Model.PageIndex of @Model.TotalPages 
<a asp-action="Index" 
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled btn">
   <span class="glyphicon glyphicon-arrow-right"></span>
</a>
<br />
Number of all users: @Model.NumberOfusers

