﻿@model Person

@using (Html.BeginForm())
{
    <br />
    <div class="form-group">
        <p> 
            First name:
            @Html.EditorFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)
        </p>
    </div>
    <div class="form-group">
        <p>
            Last name:
            @Html.EditorFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)
        </p>
    </div>
    <div class="form-group">
        <p>
            Phone number:
            @Html.EditorFor(m => m.PhoneNumber)  @ViewData["Warning"]
            @Html.ValidationMessageFor(m => m.PhoneNumber)
        </p>
    </div>
    <div class="form-group">      
         <button type="submit" class="btn btn-default">Submit</button>      
    </div>    
}

